<section id="top-menu" class="sc-p-v-sm sc-p-h-xl sc-bg-blue">
  <img style="width: 9em" src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png">
  <div class="sc-align-bottom sc-m-l-lg">
    <label>
      <div class="sc-text-white">Ativar Bate Papo?</div>
      <span class="sc-toggle" >
        <input ng-change="atualizaMenuFix()" ng-model="chatDef.active" type="checkbox" checked />
        <span label-true="sim" label-false="não"></span>
      </span>
    </label>
  </div>
  <div ng-hide="chatDef.fixed" class="pull-right menu-icon">
    <i ng-click="openBatePapo()" class="sc-icon sc-icon-comentarios"></i>
  </div>
</section>

<section id="top-bar" class="sc-bg-gray-lighter">
  <div id="top-bar-content" class="sc-p-md sc-bg-gray-lighter" style="display: flex; align-items: center;">
    <span class="sc-text-gray sc-m-r-lg">Histórico</span>
    <div class="sc-align-bottom">
      <label>
        <div class="sc-input-group sc-text-sm">
          <input class="sc-input-default" />
          <button class="sc-btn sc-btn-gray" type="button"><i class="sc-icon sc-icon-filtro-2"></i></button>
        </div>
      </label>
    </div>
    <div class="sc-m-l-lg sc-align-bottom">
      <label>
        <div ng-show="chatDef.active" class="sc-btn-group sc-text-sm">
          <button ng-click="chatDef.adm = false; chatDef.usuario = false; chatDef.suporte = true" class="sc-btn" ng-class="chatDef.suporte ? 'sc-btn-gray': 'sc-btn-blue'">Chat Suporte</button>
          <button ng-click="chatDef.adm = false; chatDef.suporte = false; chatDef.usuario = true" class="sc-btn" ng-class="chatDef.usuario ? 'sc-btn-gray': 'sc-btn-blue'">Chat Usuario</button>
          <button ng-click="chatDef.usuario = false; chatDef.suporte = false; chatDef.adm = true" class="sc-btn" ng-class="chatDef.adm ? 'sc-btn-gray': 'sc-btn-blue'">Chat Administrador</button>
        </div>
      </label>
    </div>
  </div>
</section>

<section id="corpo">
  <div class="ultimas_conversas">
    <div class="bloco-user" ng-repeat="listChat in historyChat()">
      <div class="photo">
        <img style="width: 2.9em;" ng-src="{{listChat.foto}}">
      </div>
      <div class="nome">
        <div>
          <span>{{listChat.nome}}</span>
          <div class="subscript">{{listChat.conversas[listChat.conversas.length-1].texto}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="conversa_atual">

  </div>
</section>

<section ng-show="chatDef.active" ng-controller="Contato::indexCtrl">
  <div ng-show="chatDef.open" id="chat" class="col-xs-12 col-sm-12 sc-p-none" ng-class="{'open':chatDef.open}">
    <div class="chat-top">
      <span sc-dropdown-menu class="sc-dropdown pull-right">
        <span style="display: flex">
          <i ng-click="menu.toggle()" class="sc-badge-hover-white sc-icon sc-icon-engrenagem" ng-class="{'sc-badge-active':menu.isOn}"></i>
          <i ng-hide="chatDef.fixed" ng-click="chatDef.open = false" class="sc-badge-hover-white sc-icon sc-icon-fechar-1"></i>
        </span>
        <ul style="left: auto; right: 0" class="sc-dropdown-menu ng-animation-slider" ng-show="menu.isOn">
          <li><a href="">Desativar Bate Papo</a></li>
          <li><a href="">Ordenação</a></li>
        </ul>
      </span>
      <div style="display: flex" class="busca-contato">
        <i class="sc-icon sc-icon-lupa-2"></i>
        <input placeholder="Buscar" />
      </div>
    </div>
    <div class="bloco-option">
      <button ng-click="chatDef.modeRecente = true; chatDef.modeList = false" ng-class="{'active':chatDef.modeRecente}"><i class="icon icon-history"></i></button>
      <button ng-click="chatDef.modeList = true; chatDef.modeRecente = false" ng-class="{'active':chatDef.modeList}"><i class="icon icon-list2"></i></button>
    </div>
    <div ng-if="chatDef.modeList" style="height: calc(100% - 92px); overflow-y: auto" class="sc-scrollbar">
      <div ng-hide="chatDef.suporte" class="chat-body"> <!-- Suporte (user/morador) -->
        <hr class="sc-hr-white" style="margin-bottom: 0; border-top-color: rgba(255, 255, 255, 0.11); border-bottom-color: rgba(0, 0, 0, 0.14);">
        <span style="position: relative; top: -0.7em; width: 3.9em; left: calc(50% - 2em); color: rgba(255, 255, 255, 0.29); background: #244560; padding: 0 0.2em;">Suporte</span>
        <div class="bloco-lista">
          <div ng-show="users.suporte.status" ng-click="openChat(users.suporte)" class="bloco-user">
            <div class="photo">
              <img style="width: 2.5em" ng-src="{{users.suporte.foto}}">
            </div>
            <div class="nome">
              <div>
                <span>{{users.suporte.nome}}</span>
                <div class="subscript" ng-show="users.suporte.tipo_conta">{{users.suporte.tipo_conta}}</div>
              </div>
              <i class="status sc-text-xs sc-icon sc-icon-circulo-2 sc-text-green sc-m-l-md"></i>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="chatDef.suporte" class="chat-body"> <!-- Suporte -->
        <hr class="sc-hr-white" style="margin-bottom: 0; border-top-color: rgba(255, 255, 255, 0.11); border-bottom-color: rgba(0, 0, 0, 0.14);">
        <span style="position: relative; top: -0.7em; width: 3.9em; left: calc(50% - 2em); color: rgba(255, 255, 255, 0.29); background: #244560; padding: 0 0.2em;">Suporte</span>
        <div class="bloco-lista">
          <div ng-repeat="user in users.suportes">
            <div ng-show="user.status" ng-click="openChat(user)" class="bloco-user" >
              <div class="photo">
                <img style="width: 2.9em;" ng-src="{{user.foto}}">
              </div>
              <div class="nome">
                <div>
                  <span>{{user.nome}}</span>
                  <div class="subscript" ng-show="user.tipo_conta">{{user.tipo_conta}}</div>
                </div>
                <i class="status sc-text-xs sc-icon sc-icon-circulo-2 sc-text-green sc-m-l-md"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-hide="chatDef.suporte" class="chat-body"> <!-- Administração -->
        <hr class="sc-hr-white" style="margin-bottom: 0; border-top-color: rgba(255, 255, 255, 0.11); border-bottom-color: rgba(0, 0, 0, 0.14);">
        <span style="position: relative; top: -0.7em; width: 7em; left: calc(50% - 3.5em); color: rgba(255, 255, 255, 0.29); background: #244560; padding: 0 0.2em;">Administração</span>
        <div class="bloco-lista">
          <div ng-repeat="user in users.suportes">
            <div ng-show="user.status" ng-click="openChat(user)" class="bloco-user">
              <div class="photo">
                <img style="width: 2.9em;" ng-src="{{user.foto}}">
              </div>
              <div class="nome">
                <div>
                  <span>{{user.nome}}</span>
                  <div class="subscript" ng-show="user.tipo_conta">{{user.tipo_conta}}</div>
                </div>
                <i class="status sc-text-xs sc-icon sc-icon-circulo-2 sc-text-green sc-m-l-md"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-hide="chatDef.suporte" class="chat-body"> <!-- Moradores -->
        <hr class="sc-hr-white" style="margin-bottom: 0; border-top-color: rgba(255, 255, 255, 0.11); border-bottom-color: rgba(0, 0, 0, 0.14);">
        <span style="position: relative; top: -0.7em; width: 5.2em; left: calc(50% - 2.5em); color: rgba(255, 255, 255, 0.29); background: #244560; padding: 0 0.2em;">Moradores</span>
        <div class="bloco-lista">
          <div ng-repeat="user in users.moradores">
            <div ng-show="user.status" ng-click="openChat(user)" class="bloco-user">
              <div class="photo">
                <img ng-src="{{user.foto}}">
              </div>
              <div class="nome">
                <div>
                  <span>{{user.nome}}</span>
                  <div class="subscript" ng-show="user.tipo_conta">{{user.tipo_conta}}</div>
                </div>
                <i class="status sc-text-xs sc-icon sc-icon-circulo-2 sc-text-green sc-m-l-md"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="chatDef.modeRecente" style="height: calc(100% - 92px); overflow-y: auto" class="sc-scrollbar">
      <div class="chat-body">
        <div class="bloco-lista">
          <div ng-repeat="user in historyChat()">
            <div ng-click="openChat(user)" class="bloco-user">
              <div class="photo">
                <img style="width: 2.9em;" ng-src="{{user.foto}}">
              </div>
              <div class="nome">
                <div>
                  <span>{{user.nome}}</span>
                  <div class="subscript">
                    <i class="status sc-text-xs sc-m-r-md icon {{user.conversas[user.conversas.length-1].recebe ? '':'icon-arrow-up-right2'}}" ></i>
                    <span>{{user.conversas[user.conversas.length-1].texto}}</span>
                  </div>
                </div>
                <i class="status sc-text-xs sc-icon sc-icon-circulo-2 sc-text-green sc-m-l-md"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="list" ng-show="chatDef.chat && chats.length">
    <div class="list-chat col-sm-12 col-xs-12 sc-p-none" ng-class="{'somente-chat':chatDef.chat && !chatDef.open}">
      <div id="caixa" ng-repeat="chat in chats">
        <div ng-if="!chatDef.plus" id="caixa-conversa" class="col-xs-12 col-sm-12 sc-p-none" ng-class="{'openCaixa':chat.open}">
          <div ng-click="minimizeChat(chat)" class="caixa-top" ng-class="{'sc-cursor-default':!chatDef.mobile}">
            <span class="title">{{chat.params.nome}}</span>
            <div>
              <i sc-stop-click ng-click="fecharChat($index)" class="sc-icon sc-icon-fechar-1 sc-cursor-pointer"></i>
            </div>
          </div>
          <div ng-show="chat.open" class="bloco-conversa sc-scrollbar ng-animation-slider">
            <div class="top-message sc-text-gray">
              <div><i style="color: rgb(202, 109, 182)" class="icon icon-user-add sc-text-xl"></i></div>
              <div><i class="sc-icon sc-icon-engrenagem sc-text-xl"></i></div>
            </div>
            <div class="caixa-message sc-scrollbar">
              <div ng-repeat="conv in chat.params.conversas" class="message" ng-class="conv.recebe ? 'message-recebe':'message-envia' ">
                <div ng-show="conv.recebe" style="border-radius: 50.6%; width: 2.9em; height: 2.5em; background: #efefef; z-index: 13;">
                  <div class="photo-message">
                    <img ng-src="{{chat.params.foto}}">
                  </div>
                </div>
                <div class="texto">
                  <p>{{conv.texto}}</p>
                </div>
                <div class="last-update">
                  <span style="font-size: 0.6em; margin-left: 0.5em; color: #717171">{{conv.hora | date: 'HH:mm'}}</span>
                </div>
              </div>
              <div ng-show="chat.params.type" class="message" ng-class="conv.recebe ? 'message-recebe':'message-envia' ">
                <div class="texto texto-digitando">
                  <i class="sc-text-xs sc-icon sc-icon-circulo-2 circle1"></i>
                  <i class="sc-text-xs sc-icon sc-icon-circulo-2 circle2"></i>
                  <i class="sc-text-xs sc-icon sc-icon-circulo-2 circle3"></i>
                </div>
              </div>
            </div>
            <div class="send-message">
              <textarea ng-keyup="digitando(chat)" ng-model="chat.typeMessage" placeholder="Digite uma mensagem"></textarea>
              <div><i ng-click="addMessage(chat)" class="sc-badge-hover-green icon icon-send sc-text-lg"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="chatDef.plus">
        <div id="caixa-conversa" class="caixa-top">
          <span class="title">Ver mais</span>
        </div>
      </div>
    </div>
  </div>
</section>
