<section id="top-menu" class="sc-p-v-sm sc-p-h-xl sc-bg-blue">
  <img src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png"/>
</section>

<section id="corpo">
  <section id="receber" style="width: 50%" class="pull-left">
    <div class="sc-m-t-lg">
      <p class="sc-text-gray">Receber <span ng-show="receber.calculando"><i class="sc-icon sc-icon-carregando-2 sc-icon-spin"></i></span></p>
      <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
        <label ng-class="{'sc-cursor-not-allowed':cobranca.totais.pagamentoMaior != 0 || cobranca.divida_cobranca == 0}">
          <div ng-class="{'sc-text-gray':cobranca.totais.pagamentoMaior != 0 || cobranca.divida_cobranca == 0}" class="sc-label">Valor</div>
          <input type='text' ng-keyup="calcularSemJurosMulta()" ng-disabled="cobranca.totais.pagamentoMaior != 0 || cobranca.divida_cobranca == 0" sc-currency-input="sc-currency-input" ng-model="receber.valor" class="sc-input-default"/>
        </label>
      </div>
      <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
        <label ng-class="{'sc-cursor-not-allowed':cobranca.totais.pagamentoMaior != 0 || cobranca.divida_cobranca == 0}">
          <div ng-class="{'sc-text-gray':cobranca.totais.pagamentoMaior != 0 || cobranca.divida_cobranca == 0}" class="sc-label">Data</div>
          <input sc-currency-data="sc-currency-data" ng-disabled="cobranca.totais.pagamentoMaior != 0 || cobranca.divida_cobranca == 0" type="date" ng-change="calcularSemJurosMulta()" ng-model="receber.data" class="sc-input-default"/>
        </label>
      </div>
      <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
        <label ng-class="{'sc-cursor-not-allowed':cobranca.totais.pagamentoMaior != 0 || cobranca.divida_cobranca == 0}">
          <div ng-class="{'sc-text-gray':cobranca.totais.pagamentoMaior != 0 || cobranca.divida_cobranca == 0}" class="sc-label">Juros</div>
          <input ng-keyup="calcularComJurosMulta()" ng-disabled="cobranca.totais.pagamentoMaior != 0 || cobranca.divida_cobranca == 0" sc-currency-input="sc-currency-input" ng-model="receber.juros" class="sc-input-default"/>
        </label>
      </div>
      <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
        <label ng-class="{'sc-cursor-not-allowed':cobranca.recebimentos.length &gt; 0}">
          <div ng-class="{'sc-text-gray':cobranca.recebimentos.length &gt; 0}" class="sc-label">Multa</div>
          <input ng-keyup="calcularComJurosMulta()" ng-disabled="cobranca.recebimentos.length &gt; 0" sc-currency-input="sc-currency-input" ng-model="receber.multa" class="sc-input-default"/>
        </label>
      </div>
      <div ng-show="cobranca.totais.pagamentoMaior == 0" class="sc-p-l-md sc-p-b-md sc-align-bottom">
        <label>
          <div class="sc-label">Dívida</div>
          <div class="sc-p-md">{{receber.divida_cobranca || receber.pagamentoMaior | currency}}</div>
        </label>
      </div>
      <div class="sc-p-l-md sc-p-b-md sc-m-t-lg">
        <button ng-click="addRec()" class="sc-btn" ng-disable="cobranca.totais.pagamentoMaior != 0 || cobranca.divida_cobranca == 0" ng-class="cobranca.totais.pagamentoMaior != 0 || cobranca.divida_cobranca == 0 ? 'sc-cursor-not-allowed sc-btn-gray' : 'sc-btn-blue'">
          <span ng-show="receber.salvando">
            <i class="sc-icon sc-icon-carregando-2 sc-icon-spin"></i>
            Recebendo
          </span>
          <span ng-hide="receber.salvando">
            Receber
          </span>
        </button>
      </div>
    </div>
  </section>

  <section id="listing">
    <ul class="sc-accordion">
      <li class="sc-acc-gray-light">
        <div class="sc-accordion-head sc-cursor-default">
          <div class="sc-accordion-elastic-col title"><span>Fulano de tal - referente a Nov/2015</span><span class="description">Pagador: Fulano de tal</span></div>
          <div class="sc-accordion-col-12 align-right">
            <div class="sc-text-bold">{{cobranca.valor |currency}}</div>
            <span ng-show="cobranca.divida_cobranca != cobranca.valor" class="description">Atualizado {{cobranca.divida_cobranca | currency}} </span>
          </div>
        </div>
        <div style="background: none;" class="sc-accordion-body ng-animation-slider">
          <div class="sc-fieldset">
            <div>
              <p><span class="sc-text-gray">Destinatário: </span><span class="sc-text-blue">Fulano de Tal</span></p>
              <p><span class="sc-text-gray-dark">Configuração de cobrança: </span><span class="sc-text-blue">Cobrança Mensal</span></p>
              <p><span class="sc-text-gray-dark">Vencimento: </span><span class="sc-text-blue">{{cobranca.vencimento | date}}</span></p>
              <p><span class="sc-text-gray-dark">Mês de referência: </span><span class="sc-text-blue">Nov/2015</span></p>
              <p><span class="sc-text-gray">Criado em: </span><span class="sc-text-blue">11/09/2015</span></p>
              <p><span class="sc-text-gray">Juros: </span><span class="sc-text-blue">{{cobranca.juros}} %</span></p>
              <p><span class="sc-text-gray">Multa: </span><span class="sc-text-blue">{{cobranca.multa}} %</span></p>
            </div>

            <div class="sc-m-t-lg">
              <table style="width:100%" class="sc-table">
                <thead>
                  <tr>
                    <td>Composição da Cobrança</td>
                    <td class="align-right">Valor</td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in cobranca.composicaoCobranca">
                    <td>
                      <span class="sc-text-gray">{{item.created_at | date}}</span>
                       - {{item.titulo}}</td>
                    <td class="align-right">{{item.valor | currency}}</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <td> </td>
                    <td class="align-right">Total: {{cobranca.totais.composicao | currency}}</td>
                  </tr>
                </thead>
              </table>
            </div>

            <div class="sc-m-t-lg" ng-show="cobranca.totais.juros > 0 || cobranca.totais.multa > 0">
              <table style="width:100%" class="sc-table">
                <thead>
                  <tr>
                    <td>Encargos</td>
                    <td class="align-right">Valor</td>
                  </tr>
                </thead>
                <tbody>
                  <tr id="juros">
                    <td>Juros</td>
                    <td class="align-right">{{cobranca.totais.juros | currency}}</td>
                  </tr>
                  <tr id="Multa">
                    <td>Multa</td>
                    <td class="align-right">{{cobranca.totais.multa | currency}}</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <td> </td>
                    <td class="align-right">Total: {{cobranca.totais.jurosMulta | currency}}</td>
                  </tr>
                </thead>
              </table>
            </div>

            <div class="sc-m-t-lg" ng-show="cobranca.totais.pagamentoMaior > 0">
              <table style="width:100%" class="sc-table">
                <thead>
                  <tr>
                    <td>Encargos</td>
                    <td class="align-right">Valor</td>
                  </tr>
                </thead>
                <tbody>
                  <tr id="maior">
                    <td>Pagamento a maior</td>
                    <td class="align-right">{{cobranca.totais.pagamentoMaior | currency}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="sc-m-t-lg" ng-show="cobranca.recebimentos.length">
              <table style="width:100%" class="sc-table">
                <thead>
                  <tr>
                    <td>Recebimento</td>
                    <td class="align-right">Valor</td>
                    <td style="width: 3em"></td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in cobranca.recebimentos">
                    <td>Data do pagamento: <span class="sc-text-blue">{{item.data | date}}</span></td>
                    <td class="align-right">{{item.valor | currency}}</td>
                    <td><i ng-click="deleteReceb(item, $index)" class="sc-icon sc-icon-lixeira-1 sc-badge-hover-red"></i></td>
                  </tr>
                  <tr ng-show="cobranca.length == 0">
                    <td>Não há cobranca para esta cobrança</td>
                    <td class="align-center"> </td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <td> </td>
                    <td class="align-right">Total: {{cobranca.totais.recebimentos | currency}}</td>
                    <td> </td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
</section>
