<!DOCTYPE html>
<html>
  <head>
    <title>Recebimentos</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="http://staging.seucondominio.com.br/assets/prototype-b8672555b5fba00a6c848ccf5bcd466c.css">
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body ng-app="app" ng-controller='controll'>

    <div ng-view></div>

  </body>
</html>
